#LogoZone{
	width:320;
	height:520;
}
#logo {
	position: absolute;
	left: 1028px;
	top: 115px;
	z-index: 1;
	visibility: visible;
}

#BoxZone {
width:100;
	height:100;	
}
#box {
	position: absolute;
	left: 1235px;
	top: 534px;
	z-index: 1;
	visibility: visible;
	width: 99px;
	height: 87px;
}

#BarLog {
	position:absolute;
	left:52px;
	top:177px;
	width:160px;
	height:317px;
	z-index:2;
	border: 3px solid #FFFFCC;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/auth.jpg);
	padding: 30px;
	boder-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 4px 4px 6px black;
}



#ancient{
	font-family:"Times New Roman", Times, serif;
	
	height:35px;
	font-size:20px;
	font-weight:bolder;
	color:#83B87F;
	
	}

#BarLog input[name="userInpt"], input[name="passInpt"]{
height:30px;
background-color:#FFFFFF;
border:1px solid #FFBD2F;
padding-left:5px;
boder-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:100%;
 margin-bottom:10px;
}
.inputbug{
padding: 8px;
background-color:#FFFFFF;
border:1px solid #FFBD2F;
padding-left:5px;
boder-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:100%;
 margin-bottom:10px;
}
#BarLog label span{
	font-size:14px;
	color:#FFF;
	font-weight:bold;		
}
#BarLog a {
	font-size:12px;
	color:#FC6;
}
#BarLog a:hover {
	font-size:14px;
	color:#09F;
	
	}
#BarLog button{
height:30px;
width:100px;
background-color:#336633;
color:#FFFFFF;
boder-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
margin-bottom:10px;
}
#BarLog button:hover{
border:1px solid #FF0000;
color:#000;
}

#reg{
	font-family:"Times New Roman", Times, serif;
	font-size:32px;
	font-weight:bolder;
	color:#333;
}
#BarReg input[id="nameInpt"], input[id="FnameInpt"], input[id="DbirthInpt"],input[id="AccNameInpt"],input[id="mailInpt"],input[id="pass1Inpt"],input[id="pass2Inpt"]{
height:30px;
background-color:#FFFFFF;
border:1px solid #FFBD2F;
padding-left:5px;
boder-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:100%;
 margin-bottom:10px;
}
#BarReg label{
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	color:#333;
}

#cond{
	margin-left:10px;
	font-size:16px;
}
#cond a:hover{
	color:#0CF;
}
#BarReg button{
height:40px;
width:150px;
background-color:#336633;
color:#FFFFFF;
boder-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-top:30px;	
}
#BarReg button:hover{
border:1px solid #FF0000;
color:#000;
}
.style2 {font-size: 9px}



